{% extends "base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'dashboard.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

{% endblock css %}



{% block content %}

<section class="RA-dashboard-section">
    <h1 class="dashboard-section-heading"> Dashboard </h1>
  
    <div class="dashboard-grid">
      
      <div class="dashboard-card">
        <h1 class="card-heading">To Do</h1>
        <p>To Do <i class="fa-solid fa-table-list" style="color: #0433ff;"></i> <span class="card-text-todo"><b> {{ todo_count }} </b></span></p>
<p>In progress <i class="fa-regular fa-hourglass-half" style="color: #ff9300;"></i> <span class="card-text-inp"><b>{{ in_progress_count }}</b></span></p>
<p>Completed <i class="fa-solid fa-circle-check" style="color: #00f900;"></i> <span class="card-text-com"><b>{{ completed_count }}</b></span></p>
      </div>
      
      <div class="dashboard-card">
        <h1 class="card-heading">Plans</h1>
        <p>To Do <i class="fa-solid fa-table-list" style="color: #0433ff;"></i> <span class="card-text-todo"><b>{{ plan_count }}</b></span></p>
<p>In progress <i class="fa-regular fa-hourglass-half" style="color: #ff9300;"></i> <span class="card-text-inp"><b> {{ plan_in_progress_count }} </b></span></p>
<p>Completed <i class="fa-solid fa-circle-check" style="color: #00f900;"></i> <span class="card-text-com"><b> {{ plan_completed_count }} </b></span></p>
      </div>
      
      <div class="dashboard-card">
        <h1 class="card-heading">Achievements</h1>
        <p>To Do <i class="fa-solid fa-table-list" style="color: #0433ff;"></i> <span class="card-text-todo"><b> {{ Achievements_count }} </b></span></p>
<p>In progress <i class="fa-regular fa-hourglass-half" style="color: #ff9300;"></i> <span class="card-text-inp"><b>  {{ Achievements_in_progress_count }} </b></span></p>
<p>Completed <i class="fa-solid fa-circle-check" style="color: #00f900;"></i> <span class="card-text-com"><b> {{ Achievements_completed_count }} </b></span></p>
      </div>
      
      <div class="dashboard-card">
        <h1 class="card-heading">Travelling</h1>
        <p>To Do <i class="fa-solid fa-table-list" style="color: #0433ff;"></i> <span class="card-text-todo"><b> {{ Travelling_count }} </b></span></p>
<p>In progress <i class="fa-regular fa-hourglass-half" style="color: #ff9300;"></i> <span class="card-text-inp"><b> {{ Travelling_in_progress_count }} </b></span></p>
<p>Completed <i class="fa-solid fa-circle-check" style="color: #00f900;"></i> <span class="card-text-com"><b> {{ Travelling_completed_count }}  </b></span></p>
      </div>
      
      <div class="dashboard-card">
<h1 class="card-heading">Experiences</h1>
<p> Good <i class="fa-solid fa-thumbs-up" style="color: #03C03C;"></i> <span class="card-text-com"><b> {{ Experiences_in_progress_count }} </b></span></p>
<p> Bad <i class="fa-solid fa-thumbs-down" style="color: #FF0800;"></i> <span class="card-text-bad"><b> {{ Experiences_completed_count }} </b></span></p>
</div>

      <div class="dashboard-card">
            <h1 class="card-heading">Habits</h1>
            <p>To Do <i class="fa-solid fa-table-list" style="color: #0433ff;"></i>                 <span class="card-text-todo"><b> {{ Habits_count }}  </b></span></p>
            <p>In progress <i class="fa-regular fa-hourglass-half" style="color:                    #ff9300;"></i> <span class="card-text-inp"><b> {{ Habits_in_progress_count }} </b></span></p>
             <p>Completed <i class="fa-solid fa-circle-check" style="color:                          #00f900;"></i> <span class="card-text-com"><b>  {{ Habits_completed_count }}  </b></span></p>
      </div>
      
        <div class="dashboard-card">
              <h1 class="card-heading">Memories</h1>
              <p> Best <i class="fa-solid fa-thumbs-up" style="color: #03C03C;">                      </i> <span class="card-text-com"><b> {{ Memories_in_progress_count }} </b></span></p>
              <p> Worst <i class="fa-solid fa-thumbs-down" style="color: #FF0800;">                   </i> <span class="card-text-bad"><b> {{ Memories_completed_count }} </b></span></p>
      </div>
      
      <div class="dashboard-card">
            <h1 class="card-heading">Life Goals</h1>
            <p>To Do <i class="fa-solid fa-table-list" style="color: #0433ff;"></i>                 <span class="card-text-todo"><b> {{ Goals_count }} </b></span></p>
            <p>In progress <i class="fa-regular fa-hourglass-half" style="color:                    #ff9300;"></i> <span class="card-text-inp"><b> {{ Goals_in_progress_count }} </b></span></p>
             <p>Completed <i class="fa-solid fa-circle-check" style="color:                          #00f900;"></i> <span class="card-text-com"><b> {{ Goals_completed_count }} </b></span></p>
      </div>
      
      
      <div class="dashboard-card">
            <h1 class="card-heading">Milestones</h1>
            {% comment %} <p>To Do <i class="fa-solid fa-table-list" style="color: #0433ff;"></i>                 <span class="card-text-todo"><b>10</b></span></p>
            <p>In progress <i class="fa-regular fa-hourglass-half" style="color:                    #ff9300;"></i> <span class="card-text-inp"><b>1</b></span></p> {% endcomment %}
             <p>Completed <i class="fa-solid fa-circle-check" style="color:                          #00f900;"></i> <span class="card-text-com"><b> {{ milestone_count }} </b></span></p>
      </div>
       
    </div>
</section>

{% endblock content %}