{% extends "base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'todo.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

{% endblock css %}



{% block content %}

<section class="to-do-section" id="todos-section-nav-id">
    <h2 class="to-do-section-heading">To Do</h2>
    
    <form id="todo-form" method="post">
      {% csrf_token %}
      <div class="todo-form-container">
          {{ form.todo }}
          <button type="submit" class="todo-add-button">
              <i class="fa-solid fa-plus fa-lg"></i> Add
          </button>
      </div>
  </form>
  
  
  
    <div class="todo-progress-urls">
    <a href="#todos-section-nav-id" class="todo-todos" onclick="setActiveLink(this, 'todo-section'); return false;">
        <i class="fa-solid fa-table-list" style="color: #0433ff;"></i> To Dos
    </a>
    <a href="#todos-section-nav-id" class="todo-todos" onclick="setActiveLink(this, 'in-progress-section'); return false;">
        <i class="fa-regular fa-hourglass-half" style="color: #ff9300;"></i> In Progress
    </a>
    <a href="#todos-section-nav-id" class="todo-todos" onclick="setActiveLink(this, 'completed-section'); return false;">
        <i class="fa-solid fa-circle-check" style="color: #00f900;"></i> Completed
    </a>
</div>


<div class="todo-section" id="todo-section">
  <div class="todo-grid" id="todo-grid">
      {% if todos %}
          {% for todo in todos %}
          <div class="todo-card">
              <div class="todo-tags">
                  <span class="todo-tag">{{ todo.status }}</span>
              </div>
              <div class="todo-action-buttons">
                  <button><i class="fa-solid fa-pen todo-btn" style="color: #d58400;"></i></button>
                  <button><i class="fa-regular fa-hourglass-half todo-btn" style="color: #ff9300;"></i></button>
                  <button><i class="fa-solid fa-trash todo-btn" style="color: #ff2600;"></i></button>
              </div>
              {{ todo.todo }}
          </div>
          {% endfor %}
      {% else %}
          <div class="no-todos">
              <p>Please add a new todo.No todo tasks remaining.</p>
          </div>
      {% endif %}
  </div>
  
  <div class="pagination">
    <a href="?page={{ todos.previous_page_number }}" class="pagination-button" {% if not todos.has_previous %}style="display:none;"{% endif %}>
        <i class="fa-solid fa-caret-left"></i>
    </a>
    <span class="pagination-numbers">
        {% for num in todos.paginator.page_range %}
            {% if todos.number == num %}
                <span class="pagination-number active">{{ num }}</span>
            {% else %}
                <a href="?page={{ num }}" class="pagination-number">{{ num }}</a>
            {% endif %}
        {% endfor %}
    </span>
    <a href="?page={{ todos.next_page_number }}" class="pagination-button" {% if not todos.has_next %}style="display:none;"{% endif %}>
        <i class="fa-solid fa-caret-right"></i>
    </a>
</div>

</div>


    

    <div class="in-progress-section" id="in-progress-section" style="display: none;">
        <div class="in-progress-grid" id="in-progress-grid">
            <div class="in-progress-card">
              <div class="todo-tags">
                    <span class="inp-tag">In Progress</span>
            </div>
             <div class="todo-action-buttons">
               <button><i class="fa-solid fa-circle-check" style="color: #00f900;"></i></button>
            <button><i class="fa-solid fa-trash" style="color: #ff2600;"></i></button>
             </div> 
             Task 7
            </div>
            <div class="in-progress-card">
              <div class="todo-tags">
                    <span class="inp-tag">In Progress</span>
            </div>
              <div class="todo-action-buttons">
               <button><i class="fa-solid fa-circle-check" style="color: #00f900;"></i></button>
            <button><i class="fa-solid fa-trash" style="color: #ff2600;"></i></button>
             </div> 
              Task 8</div>
            <div class="in-progress-card">
              <div class="todo-tags">
                    <span class="inp-tag">In Progress</span>
            </div>
              <div class="todo-action-buttons">
               <button><i class="fa-solid fa-circle-check" style="color: #00f900;"></i></button>
            <button><i class="fa-solid fa-trash" style="color: #ff2600;"></i></button>
             </div> 
              Task 9</div>
            <div class="in-progress-card">
              <div class="todo-tags">
                    <span class="inp-tag">In Progress</span>
            </div>
              <div class="todo-action-buttons">
               <button><i class="fa-solid fa-circle-check" style="color: #00f900;"></i></button>
            <button><i class="fa-solid fa-trash" style="color: #ff2600;"></i></button>
             </div> 
              Task 10</div>
            <div class="in-progress-card">
              <div class="todo-tags">
                    <span class="inp-tag">In Progress</span>
            </div>
              <div class="todo-action-buttons">
               <button><i class="fa-solid fa-circle-check" style="color: #00f900;"></i></button>
            <button><i class="fa-solid fa-trash" style="color: #ff2600;"></i></button>
             </div> 
              Task 11</div>
            <div class="in-progress-card">
              <div class="todo-tags">
                    <span class="inp-tag">In Progress</span>
            </div>
              <div class="todo-action-buttons">
               <button><i class="fa-solid fa-circle-check" style="color: #00f900;"></i></button>
            <button><i class="fa-solid fa-trash" style="color: #ff2600;"></i></button>
             </div> 
              Task 12</div>
        </div>
        <div class="pagination">
            <a href="#" class="pagination-button">
                <i class="fa-solid fa-caret-left"></i>
            </a>
            <span class="pagination-numbers">
                <a href="#" class="pagination-number">1</a>
                <a href="#" class="pagination-number">2</a>
                <a href="#" class="pagination-number">3</a>
            </span>
            <a href="#" class="pagination-button">
                <i class="fa-solid fa-caret-right"></i>
            </a>
        </div>
    </div>

    <div class="completed-section" id="completed-section" style="display: none;">
        <div class="completed-grid" id="completed-grid">
            <div class="completed-card">
              <div class="todo-tags">
                    <span class="comp-tag">Completed</span>
            </div>
            <div class="todo-action-buttons">
              <button><i class="fa-solid fa-trash" style="color: #ff2600;"></i></button>
            </div>
            Task 13
            </div>
            <div class="completed-card">
              <div class="todo-tags">
                    <span class="comp-tag">Completed</span>
            </div>
              <div class="todo-action-buttons">
              <button><i class="fa-solid fa-trash" style="color: #ff2600;"></i></button>
            </div>
              Task 14</div>
            <div class="completed-card">
              <div class="todo-tags">
                    <span class="comp-tag">Completed</span>
            </div>
              <div class="todo-action-buttons">
              <button><i class="fa-solid fa-trash" style="color: #ff2600;"></i></button>
            </div>
              Task 15</div>
            <div class="completed-card">
              <div class="todo-tags">
                    <span class="comp-tag">Completed</span>
            </div>
              <div class="todo-action-buttons">
                
              <button><i class="fa-solid fa-trash" style="color: #ff2600;"></i></button>
            </div>
              Task 16</div>
            <div class="completed-card">
              <div class="todo-tags">
                    <span class="comp-tag">Completed</span>
            </div>
              <div class="todo-action-buttons">
              <button><i class="fa-solid fa-trash" style="color: #ff2600;"></i></button>
            </div>
              Task 17</div>
            <div class="completed-card">
              <div class="todo-tags">
                    <span class="comp-tag">Completed</span>
            </div>
              <div class="todo-action-buttons">
              <button><i class="fa-solid fa-trash" style="color: #ff2600;"></i></button>
            </div>
              Task 18</div>
        </div>
        <div class="pagination">
            <a href="#" class="pagination-button">
                <i class="fa-solid fa-caret-left"></i>
            </a>
            <span class="pagination-numbers">
                <a href="#" class="pagination-number">1</a>
                <a href="#" class="pagination-number">2</a>
                <a href="#" class="pagination-number">3</a>
            </span>
            <a href="#" class="pagination-button">
                <i class="fa-solid fa-caret-right"></i>
            </a>
        </div>
    </div>
</section>




{% endblock content %}